name: Test, Build and Publish

on:
  push:
    branches:
      - 'master'
  pull_request:
    branches:
      - 'master'

jobs:
  is-code-okay:
    runs-on: ubuntu-latest
    steps:
      - uses: szenius/set-timezone@v2.0
        with:
          timezoneLinux: 'Europe/Amsterdam'
          timezoneMacos: 'Europe/Amsterdam'
          timezoneWindows: 'Central European time' # Oh you windows...
      - uses: actions/checkout@v2
      - name: Use Node.js 24
        uses: actions/setup-node@v2
        with:
          node-version: 24
      - name: Cache node modules
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Authenticate registry
        env:
          GROWY_CLOUD_COMMON_TOKEN: ${{ secrets.GROWY_CLOUD_COMMON_TOKEN }}
        run: npm config set //npm.pkg.github.com/:_authToken="$GROWY_CLOUD_COMMON_TOKEN"
      - run: npm ci
      - run: npm run prettier:check
      - run: npm run test

  tag-version:
    if: github.event_name == 'push'
    needs: is-code-okay
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Tag new version
        uses: salsify/action-detect-and-tag-new-version@v2.0.3

  publish-github:
    needs: tag-version
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 24
          registry-url: https://npm.pkg.github.com/
      - name: Cache node modules
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - run: npm ci
      - run: npm run build:all
      - name: update package.json
        uses: jaywcjlove/github-action-package@main
        with:
          data: |
            {
              "main": "./lib/cjs/src/_index.js",
              "types": "./lib/types/src/_index.d.ts",
              "module": "./lib/es2015/src/_index.js",
              "es2015": "./lib/es2015/src/_index.js"
            }
      - name: Publish to GitHub Packages
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
